Flask
requests
gunicorn
apscheduler
toml
oauth2client
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
python-dateutil
timeago
redis
disnake
easydict
jsonschema
git+https://github.com/brodokk/Flask-Discord@v10_custom#egg=Flask-Discord