{% extends "base.html" %}
{% block admin_menu %}
{% if user.is_superuser %}
      <aside class="menu">
        <p class="menu-label">General</p>
        <ul class="menu-list">
          <li><a class="{{ 'is-active' if request.url.path == '/admin/communities' else '' }}" href="{{ '/admin/communities' }}">Communities</a></li>
          <li><a class="{{ 'is-active' if request.url.path == '/admin/events' else '' }}" href="{{ '/admin/events' }}">Events</a></li>
        </ul>
        <p class="menu-label">Administration</p>
        <ul class="menu-list">
          <li><a class="{{ 'is-active' if request.url.path == '/admin/metrics' else '' }}" href="{{ '/admin/metrics' }}">Dashboard</a></li>
          <li><a>Configuration</a></li>
      </aside>
      {% endif %}
{% endblock %}