{% extends "admin/base.html" %}
{% block extended_head %}
<script src="/static/js/communities.js"></script>
<style>
    :required,
    .required {
        border-color: red;
    }
</style>
{% endblock %}
{% block content %}

<div class="tabs is-centered is-boxed is-medium">
    <ul>
        <li class="is-active" id="events_communities_tab"><a>Event communities</a></li>
        <li id="streams_communities_tab"><a>Streams communities</a></li>
    </ul>
</div>

<div id="events_communities" style="width: 100%;">

    <button class="button is-success" data-modal-action="add" data-community-type="event">Add event community</button>

    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>Name</th>
                <th style="text-align: right;">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for community in events_communities %}
            <tr>
                <td>{{ community.name }}</td>
                <td style="text-align: right;">
                    <div>
                        <button class="button is-info" data-modal-action="info" data-community-id="{{ community.id }}" data-community-type="event">Info</button>
                        <button class="button is-warning" data-modal-action="edit" data-community-id="{{ community.id }}" data-community-type="event">Edit</button>
                        <button class="button is-danger" data-modal-action="delete" data-community-id="{{ community.id }}" data-community-type="event">Delete</button>
                        <button class="button is-link" {% if not community.url %}title="disabled" disabled{% endif %}>External link</button>                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div id="streams_communities" style="display: none; width: 100%;">

    <button class="button is-success" data-modal-action="add" data-community-type="stream">Add stream community</button>

    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>Name</th>
                <th style="text-align: right;">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for community in streams_communities %}
            <tr>
                <td>{{ community.name }}</td>
                <td style="text-align: right;">
                    <div>
                        <button class="button is-info" data-modal-action="info" data-community-id="{{ community.id }}" data-community-type="stream">Info</button>
                        <button class="button is-warning" data-modal-action="edit" data-community-id="{{ community.id }}" data-community-type="stream">Edit</button>
                        <button class="button is-danger" data-modal-action="delete" data-community-id="{{ community.id }}" data-community-type="stream">Delete</button>
                        <button class="button is-link" {% if not community.url %}title="disabled" disabled{% endif %}>External link</button>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="modal" id="generic-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title" id="modal-title">Modal Title</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body" id="modal-body">
            <!-- Content will be dynamically injected here -->
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success" id="modal-save-button">Save</button>
            <button class="button" id="modal-cancel-button">Cancel</button>
        </footer>
    </div>
</div>

{% endblock content %}