{% extends "admin/base.html" %}
{% block alpine_components_head %}
<script defer src="/static/js/alpine/pages/admin_events.js"></script>
{% endblock %}
{% block extended_head %}
<script src="/static/js/notification.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/notification.css">
<style>
    .fixed-width {
        display: inline-block;
        width: 150px;
    }
</style>
{% endblock %}

{% block content %}

<div x-data="eventsPage()" x-init="init()">
    <div class="field">
        <div class="control">
            <div class="select">
                <select x-model="selectedCommunity" @change="loadEvents($event.target.value)">
                    <option value="">All Communities</option>
                    {% for community in communities %}
                        <option value="{{ community.id }}" :selected="'{{ community.id }}' === selectedCommunity">{{ community.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>Name</th>
                <th style="text-align: right;">Actions</th>
            </tr>
        </thead>
        <tbody>
            <template x-for="event in events" :key="event.id">
                <tr>
                    <td>
                        <div class="columns">
                            <div class="column">
                                <p class="is-size-5 has-text-left is-inline-block" x-text="event.name"></p>
                                <template x-if="event.session_image">
                                    <span class="icon">
                                        <i class="mdi mdi-image-area"></i>
                                    </span>
                                </template>
                            </div>
                            <p class="column is-size-6 has-text-right">
                                <span class="fixed-width has-text-right" x-text="event.start_time ? event.start_time.replace('T', ' ').replace('Z', '') : ''"></span>
                                <span> - </span>
                                <span class="fixed-width has-text-left" x-text="event.end_time ? event.end_time.replace('T', ' ').replace('Z', '') : ''"></span>
                            </p>
                        </div>
                        <p class="is-size-7" x-text="event.description"></p>
                        <br>
                        <p class="is-size-6" x-text="event.community_name"></p>
                    </td>
                    <td style="text-align: right;">
                        <div>
                            <div class="dropdown" x-data="{ ...eventStatusDropdown(), open: false }" @click.outside="open = false" :class="{ 'is-active': open }">
                                <div class="dropdown-trigger">
                                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu" @click="open = ! open">
                                        <span x-ref="statusText" x-text="event.status"></span>
                                        <span class="icon is-small">
                                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                                        </span>
                                    </button>
                                </div>
                                <div class="dropdown-menu" role="menu">
                                    <div class="dropdown-content">
                                        <a class="dropdown-item" @click="updateStatus(event.id, 'CANCELED'); open = false">CANCELED</a>
                                        <a class="dropdown-item" @click="updateStatus(event.id, 'ACTIVE'); open = false">ACTIVE</a>
                                        <a class="dropdown-item" @click="updateStatus(event.id, 'PENDING'); open = false">PENDING</a>
                                        <a class="dropdown-item" @click="updateStatus(event.id, 'READY'); open = false">READY</a>
                                        <a class="dropdown-item" @click="updateStatus(event.id, 'COMPLETED'); open = false">COMPLETED</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </template>
        </tbody>
    </table>

    <div id="notifications"></div>
</div>

{% endblock content %}
