{% extends "admin/base.html" %}
    {% block extended_head %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {
        'packages':['geochart'],
      });
      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable([
          ['Country', 'Users'],
          {% for item in country_data %}
          ['{{ item.name }}', {{ item.value }}],
          {% endfor %}
        ]);

        var options = {
          colorAxis: {colors: ['#e0ffff', '#006edd']}
        };

        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

        chart.draw(data, options);
      }
    </script>
    {% endblock %}
    {% block content %}





    <div class="fixed-grid has-1-cols">
        <div class="grid">

            <div class="fixed-grid has-4-cols">
                <div class="grid">
                    <div class="cell"></div>
                    <div class="cell">
                        <div class="card has-text-centered">
                            <div class="card-content">
                                <p class="title">Today Users Average</p>
                                <div class="content is-size-3">
                                    <p>{{ average_unique_users }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell">
                        <div class="card has-text-centered">
                            <div class="card-content">
                                <p class="title">Yesterday Users Average</p>
                                <div class="content is-size-3">
                                    <p>{{ last_day_unique_users }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell"></div>
                </div>
            </div>

            <div class="cell">
                <div class="card has-text-centered">
                    <div class="card-content">
                        <p class="title">World Map (Daily Unique Users)</p>
                        <div class="content">
                            <div id="regions_div" style="width: 900px; height: 500px; margin: 0 auto;"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cell">
                <div class="card">
                    <div class="card-content">
                        <p class="title has-text-centered">Client versions</p>
                        <div class="content">
                            <table class="table" style="width: 100%;">
                                <tr>
                                    <th>Endpoint</th>
                                    <th>Count</th>
                                </tr>
                                <tbody>
                                    {% for version in versions %}
                                    <tr>
                                        <td>{{ version.version }}</td>
                                        <td>{{ version.count }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cell">
                {% for domain, metrics in metrics_domains.items() %}
                <div class="card">
                    <div class="card-content">
                        <p class="title has-text-centered">{{ domain }}</p>
                        <div class="content">
                            <table class="table" style="width: 100%;">
                                <thead>
                                    <th>Endpoint</th>
                                    <th>Count</th>
                                </thead>

                                <tbody>
                                    {% for metric in metrics %}
                                    <tr>
                                        <td>{{ metric.endpoint }}</td>
                                        <td>{{ metric.count }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>

    <h2 class="has-text-centered">Weekly Unique Users</h2>
    <canvas id="dailyUniqueUsersChart"></canvas>
    <script>
        var ctx = document.getElementById('dailyUniqueUsersChart').getContext('2d');
        var dailyUniqueUsersChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{ daily_unique_users_labels | tojson }},
                datasets: [{
                    label: 'Daily Unique Users',
                    data: {{ daily_unique_users_data | tojson }},
                    backgroundColor: 'rgba(153, 102, 255, 0.2)',
                    borderColor: 'rgba(153, 102, 255, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>





    {% endblock %}