<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>resonite-community.events</title>
    <link rel="icon" href="data:image/jpeg;base64,{{ logo | safe }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <!-- Bulma Version 0.9.0-->
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css'>
    <link rel='stylesheet' href='https://kingsora.github.io/OverlayScrollbars/etc/os-theme-thin-dark.css'>
    <link rel='stylesheet' href="../css/prism.css">
    <link rel="stylesheet" href="../css/cheatsheet.css">
    <script src="https://kit.fontawesome.com/7dc3015a44.js" crossorigin="anonymous"></script>

    <style>
      .content h3.subsubtitle {
        margin-top: -1.25rem;
        color: rgba(240, 240, 240, 0.9);
        font-size: 1.25em;
      }
      .logo {
        float: left;
        max-width: 7.5em;
        padding-right: 1em;
      }

      .event, .stream {
        margin-bottom: 2em;
      }

      .stream .button {
        align-self: center;
        margin: 1em;
      }

      .stream .card-header-title {
        flex-direction: column;
        align-items: start;
        align-self: center;
      }

      .event .date, .stream .date {
        flex-direction: column;
      }

      .event .card-content {
        padding: 0;
        display: flex;
      }

      .event .card-content .content {
        padding: 1.5em 1.5rem 0.5em 1.5em;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .event .card-content img {
        object-fit: cover;
        padding: 12px 12px 0 0;
        width: 100%;
        overflow: hidden;
      }

      .date .mobile-separator {
        display: none;
      }

      .login {
        width: 90%;
        position: relative;
        margin: auto;
      }

      .user-info .pfp img {
        padding: 3px;
      }

      @media (min-width: 769px) {
        .event .card-content {
          background-image: none !important;
        }
      }

      @media (max-width: 769px) {

        .event, .stream {
          margin-bottom: 0;
        }

        .stream .image img {
          border-radius: 6px;
        }

        .stream .card-header-title {
          align-items: center;
          align-self: center;
        }

        .stream .card-header-title p {
          text-align: center;
        }

        .event .card-header, .stream .card-header {
          flex-direction: column;
          align-items: center;
        }

        .event .card-header .tags {
          flex-direction: column;
          align-items: center;
        }

        .event .date, .stream .date {
          flex-direction: row;
        }

        .event .card-content {
          margin: 0;
          color: #fff;
          background-size: cover;
          background-repeat: no-repeat;
        }

        .event .card-content .content {
          background-color: #0009;
          width: 100%;
        }

        .event .card-content .content a {
          color: #b4c1ff;
        }

        .event .card-content .content a:hover {
          color: #939393;
        }

        .event .card-content .content .subtitle {
          color: #fff;
        }

        .event .card-content img {
          display: none;
        }

        .date .mobile-separator {
          display: inline;
          padding: 0 5px;
        }
      }
    </style>
</head>

<body>

    <section class="hero is-small is-link">
        <div class="hero-body">
          <div class="columns">
            <div class="column is-12">
              <div class="container content">
                <img class="logo is-hidden-mobile" src="data:image/jpeg;base64,{{ userlogo | safe }}">
                <h1 class="title">resonite-community.events</h1>
                <h2 class="subtitle">Resonite <strong>non</strong> Exhaustive Communites Events Aggregator</h2>
                <h3 class="subsubtitle">— by GrayBoltWolf and Brodokk</h3>
              </div>
            </div>
          </div>
        </div>

        {% if user %}
        <div class="container box user-info login is-flex">
          <div class="is-flex is-flex-direction-column m-1">
            <figure class="image pfp is-96x96 m-1">
              <img class="is-rounded has-background-info" src='{{user.avatar_url}}' />
            </figure>
            <a class="button m-1" href="/logout/">Logout</a>
          </div>
          <div class="is-flex-direction-column m-1">
            <p class="m-1">Connected as <span class="tag has-text-info">{{user.name}}</span></p>
            {% if user_guilds %}
            <p class="ml-1 mr-1 mt-1">The calendar also include the events from communities you are a member of:</p>
            {% else %}
            <p class="m-1">You are not part of any communities sadly.</p>
            {% endif %}
            <div>
              {% for user_guild in user_guilds %}
              <span class="tag is-info m-1">{{ user_guild }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endif %}

        <div class="hero-foot">
          <nav class="tabs is-boxed is-fullwidth is-large">
            <div class="container">
              <ul>
                <li class="tab tab-events {{tab|tab_is_active('Events')}}" onclick="openTab(event,'Events')"><a href="/">Events</a></li>
                <li class="tab tab-streams {{tab|tab_is_active('Streams')}}" onclick="openTab(event,'Streams')"><a href="/streams">Streams</a></li>
                <li class="tab tab-about {{tab|tab_is_active('About')}}" onclick="openTab(event,'About')"><a href="/about">About</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </section>


    <section class="section" style="min-height: 62vh">
        <div class="container">

          <div id="Events" class="content-tab" style="display:{{tab|tab_display('Events')}}">

            <div class="columns">
              <div class="column">
                <article class="message is-info">
                  <div class="message-header" id="info_toggle">
                    <p>Info</p>
                    <span class="icon">
                      <i class="fas fa-angle-up" aria-hidden="true"></i>
                    </span>
                  </div>
                  <div class="message-body" id="info">
                    <p>Want your group listed here? Any question?</p>
                    <p><samp>events.resonite.boltwolf.net</samp>? <samp>resonite-community.events</samp>?</p>
                    <p>More info in <span onclick="openTab(event,'About')"><a>About</a></span> section.</p>
                  </div>
                </article>
              </div>

              <div class="column">
                <button class="button is-large is-fullwidth is-dark js-copy-facet-url" style="display:none">
                  <span>Save facet resonitedb url</span>
                    <span class="icon is-small">
                    <i class="fas fa-solid fa-clipboard"></i>
                  </span>
                </button>
                <div class="box nojs-copy-facet-url">
                  <p class="has-text-danger">You seems to have JavaScript disabled.</p>
                  <p>Link to download the facet:</p>
                  <span>resrec:///U-GrayBoltWolf/R-1813632e-ca8f-4492-bec4-9259677394de</span>
                </div>
              </div>
            </div>

            {% for event in events %}
            <div class="container event">
              <div class="card my-3">
                <header class="card-header">
                    <div class="card-header-title is-flex is-flex-direction-column is-align-items-flex-start">
                        <p>{{ event[0] }}</p>
                        <div class="tags is-flex">{{ event[10]|tags|safe }}</div>
                    </div>
                    <div class="date info is-flex is-flex-direction-row is-justify-content-center is-align-items-center">
                        <i class="fas fa-circle-info" title="Dates are in UTC timezone"></i>
                        <div class="date my-3 mx-4 is-flex">
                          <p class="start">{{ event[6]|formatdatetime }}</p>
                          <p class="mobile-separator">-</p>
                          <p class="end">{{ event[7]|formatdatetime }}</p>
                        </div>
                    </div>
                </header>
                <div class="card-content columns" style="background-image: url({{ event[2] }});">
                  <div class="content column is-three-fifths">
                    <p class="subtitle"">
                      {{ event[1]|parse|safe }}
                    </p>
                    <div class="more">
                      <p>
                        <i class="fa-solid fa-location-dot"></i> {{ event|detect_location|safe }}
                      </p>
                      <p>
                        <i class="fa-brands fa-discord"></i> {{ event|detect_community|safe }}
                      </p>
                    </div>
                  </div>
                  {% if event[2]  %}
                  <img class="column" src="{{ event[2] }}">
                  {% endif %}
                </div>
              </div>
            </div>
            {% else %}
            <article class="message">
              <div class="message-body content">
                It doesn't seem there are currently any public events planned. <strong>But</strong> remember:

                <ul>
                  <li>This <strong>isn't</strong> an exhaustive list of Resonite events;</li>
                  <li>Private events are not listed here;</li>
                  <li>Events can be announced during the day for the following evening, come back later.</li>
                </ul>
              </div>
            </article>
            {% endfor %}
          </div>

          <div id="Streams" class="content-tab" style="display:{{tab|tab_display('Streams')}}">
            
            {% for stream in streams %}
            <div class="container stream">
              <div class="card my-3">
                <header class="card-header">
                    <figure  class="image is-128x128 is-center">
                      <img src="{{ stream[4] }}" alt="Image">
                    </figure >
                    <div class="card-header-title">
                      <p>{{ stream[0] }}</p>
                      <br>
                      <p class="subtitle">Streamed by {{ stream[3] }}</p>
                    </div>
                    <a class="button is-info" href="https://www.twitch.tv/{{ stream[3] }}">Visit channel</a>
                    <div class="date info is-flex is-flex-direction-row is-justify-content-center is-align-items-center">
                        <i class="fas fa-circle-info" title="Dates are in UTC timezone"></i>
                        <div class="date my-3 mx-4 is-flex">
                          <p class="start">{{ stream[1]|formatdatetime }}</p>
                          <p class="end">{{ stream[2]|formatdatetime }}</p>
                        </div>
                    </div>
                </header>
              </div>
            </div>
            {% else %}
            <article class="message">
              <div class="message-body content">
                It doesn't seem there are currently any streams planned. <strong>But</strong> remember:

                <ul>
                  <li>This <strong>isn't</strong> an exhaustive list of Resonite streams;</li>
                  <li>Streams can be started without any prior schedule.</li>
                </ul>
              </div>
            </article>
            {% endfor %}
          </div>

          <div id="About" class="content-tab" style="display:{{tab|tab_display('About')}}">
            <div class="content">
              <p>This service is provided to you by GrayBoltWolf and Brodokk. If you have any question about it, you can contact them either on discord or Resonite.</p>

              <br>

              <p>Keep in mind this is a list of gathered events of differents Resonite communities. This means that it is <strong>not</strong> an exhaustive list of Resonite events.</p>

              <br>

              <p>For now the two domains <code>resonite.boltwolf.net</code> and <code>resonite-community.events</code> are delivering the same service run by the same group of person.</p>
              <h2>News</h2>

              <div class="box">
                <div class="content">
                  <strong>Release 3.0</strong>
                  &nbsp;
                  <small>2023-10-04</small>
                  <br>
                  <p>
                    <ul>
                      <li>Migrate to Resonite, dropping NeosVR support</li>
                    </ul>
                  </p>
                </div>
              </div>
              <div class="box">
                <div class="content">
                  <strong>Release 2.8.0</strong>
                  &nbsp;
                  <small>2023-02-02</small>
                  <br>
                  <p>
                    <ul>
                      <li>Add NeosVR streams schedules.</li>
                      <li>Add login via discord for show hidden communities.</li>
                      <li>Fix support for user who disabled the javascript.</li>
                      <li>Fix bugs</li>
                    </ul>
                  </p>
                </div>
              </div>
              <div class="box">
                <div class="content">
                  <strong>Release 2.6.0</strong>
                  &nbsp;
                  <small>2022-12-18</small>
                  <br>
                  <p>
                    <ul>
                      <li>Break APIv2 with changing the type of separator giving back the ability to use the chars <code>\n</code> and <code>`</code> in descriptions and other. <bold>Only work for the website, still ignored for the facet.</bold></bold></li>
                      <li>Small WebUI fixes.</li>
                      <li>Fix bug of duplicated events and small other fixes.</li>
                      <li>Add support for community descriptions in the configuration file.</li>
                    </ul>
                  </p>
                </div>
              </div>
              <div class="box">
                <div class="content">
                  <strong>Release 2.5.0</strong>
                  &nbsp;
                  <small>2022-12-03</small>
                  <br>
                  <p>
                    <ul>
                      <li>Show dates in the local timezone of the web browser.</li>
                    </ul>
                  </p>
                </div>
              </div>
              <div class="box">
                <div class="content">
                  <strong>Release 2.4.0</strong>
                  &nbsp;
                  <small>2022-11-17</small>
                  <br>
                  <p>
                    <ul>
                      <li>Add event image.</li>
                      <li>Add information about the event date localisation.</li>
                      <li>Add website icon.</li>
                      <li>Fix date position on the mobile version.</li>
                    </ul>
                  </p>
                </div>
              </div>
              <div class="box">
                <div class="content">
                  <strong>Update communities</strong>
                  &nbsp;
                  <small>2022-11-16</small>
                  <br>
                  <p>Add <code>The MetaMovie</code> community.</p>
                </div>
              </div>
              <div class="box">
                <div class="content">
                  <strong>Release 2.3.0</strong>
                  &nbsp;
                  <small>2022-11-15</small>
                  <br>
                  <p>Update general website UI. Added new <code>About</code> and <code>News</code> section.</p>
                </div>
              </div>
              <div class="box">
                <div class="content">
                  <strong>Release 2.2.0</strong>
                  &nbsp;
                  <small>2022-11-15</small>
                  <br>
                  <p>Simplify the mobile version by auto collapsing the <code>info</code> message. Adding a button for copy the last version of the facet in the clipboard.</p>
                </div>
              </div>
              <div class="box">
                <div class="content">
                  <strong>Update communities</strong>
                  &nbsp;
                  <small>2022-10-13</small>
                  <br>
                  <p>Added <code>The Grand Oasis</code> and <code>Neos Amatar Radio Association</code> communities.</p>
                </div>
              </div>
              <div class="box">
                <div class="content">
                  <strong>Release 2.1.0</strong>
                  &nbsp;
                  <small>2022-10-28</small>
                  <br>
                  <p>Finishing the Apollo Bot events source.</p>
                </div>
              </div>
              <div class="box">
                <div class="content">
                  <strong>Release 2.0.0</strong>
                  &nbsp;
                  <small>2022-10-24</small>
                  <br>
                  <p>Finalize V2 of the API.</p>
                </div>
              </div>
              <div class="box">
                <div class="content">
                  <strong>Release 1.0.0</strong>
                  &nbsp;
                  <small>2022-10-23</small>
                  <br>
                  <p>Public release of the project.</p>
                </div>
              </div>
            </div>
          </div>

        </div>


    </section>

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>resonite-community.events</strong> by GrayBoltWolf and <a href="https://brodokk.space">Brodokk</a>.
        Website and API <a href="https://github.com/NeosVR-Community-Projects/community_events.neos">source code</a>.
      </p>
    </div>
  </footer>

  <script>
    // Tab management
    var tablinks;
    tablinks = document.getElementsByClassName("tab");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].children[0].removeAttribute("href");
    }
    function openTab(evt, tabName) {
      var i, x, tablinks;
      x = document.getElementsByClassName("content-tab");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tab");
      for (i = 0; i < x.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" is-active", "");
      }
      document.getElementById(tabName).style.display = "block";
      if (evt.currentTarget.constructor.name != "HTMLLIElement") {
        target = document.getElementsByClassName("tab-"+tabName.toLowerCase())[0]
      } else {
        target = evt.currentTarget
      }
      target.className += " is-active";
      url = '/'
      if (tabName.toLowerCase() != "events") {
        url += tabName.toLowerCase();
      }
      window.history.pushState('resonite-community.events', 'resonite-community.events', url);
    }

    // Manage info toggle
    window.addEventListener('resize', info_toggle);
    document.querySelector("#info_toggle").addEventListener("click", info_toggle, false);
    info_toggle = document.querySelector("#info_toggle");
    info_toggle_icon = document.querySelector("#info_toggle .icon i");
    info = document.querySelector("#info");

    if (window.screen.availWidth < 1024) {
      info_toggle.style.cursor = "pointer";
      info_toggle_icon.className = "fas fa-angle-down";
      info_toggle.style.borderRadius = "4px";
      info.style.display = "none";
    }

    // Manage facet resdb url copy button
    //js-copy-facet-url
    document.querySelector('.js-copy-facet-url').style.display = 'block'
    document.querySelector('.nojs-copy-facet-url').style.display = 'none'

    function info_toggle() {
      if (window.screen.availWidth < 1024) {
        if (this.constructor.name != "Window") {
          if (info.style.display == 'none') {
            info_toggle.style.borderRadius = "4px 4px 0 0";
            info_toggle.style.cursor = "pointer";
            info_toggle_icon.className = "fas fa-angle-up";
            info.style.display = "block";
          } else {
            info_toggle.style.borderRadius = "4px";
            info_toggle.style.cursor = "pointer";
            info_toggle_icon.className = "fas fa-angle-down";
            info.style.display = "none";
          }
        } else {
          info_toggle.style.cursor = "pointer";
        }
      } else {
        info_toggle.style.borderRadius = "4px 4px 0 0";
        info_toggle.style.cursor = "default";
        info_toggle_icon.className = "fas fa-angle-up";
        info.style.display = "block";
      }
    }

    function CopyFacetResoniteDBUrlToClipboard(text) {
      var textArea = document.createElement("textarea");

      textArea.style.position = 'fixed';
      textArea.style.top = 0;
      textArea.style.left = 0;
      textArea.style.width = '2em';
      textArea.style.height = '2em';
      textArea.style.padding = 0;
      textArea.style.border = 'none';
      textArea.style.outline = 'none';
      textArea.style.boxShadow = 'none';
      textArea.style.background = 'transparent';

      textArea.value = text;

      document.body.appendChild(textArea);
      textArea.focus();
      textArea.select();

      function resetCopyBtn(oldStatus) {
        CopyFacetResoniteDBUrl.classList.remove(oldStatus);
        CopyFacetResoniteDBUrl.classList.add('is-dark');
        CopyFacetResoniteDBUrl.querySelector('span').innerHTML = 'Save facet resonitedb url'
      }

      function setStatusCopyBtn(msg, status) {
        var CopyFacetResoniteDBUrl = document.querySelector('.js-copy-facet-url');
        CopyFacetResoniteDBUrl.querySelector('span').innerHTML = msg;
        CopyFacetResoniteDBUrl.classList.remove('is-dark');
        CopyFacetResoniteDBUrl.classList.add(status);
        setTimeout(function () {resetCopyBtn(status)}, 3000);
      }

      try {
        var successful = document.execCommand('copy');
        var msg = successful ? 'successful' : 'unsuccessful';;
        setStatusCopyBtn('Success copy resonitedb url', 'is-success');
      } catch (err) {
        setStatusCopyBtn('Error copy resonitedb url', 'is-danger');
      }

      document.body.removeChild(textArea);
    }

    var CopyFacetResoniteDBUrl = document.querySelector('.js-copy-facet-url');

    CopyFacetResoniteDBUrl.addEventListener('click', function(event) {
      CopyFacetResoniteDBUrlToClipboard('resrec:///U-GrayBoltWolf/R-1813632e-ca8f-4492-bec4-9259677394de');
    });

    const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;

    const dates_tip = document.querySelectorAll(".date i");

    dates_tip.forEach((date_tip) => {
      date_tip.title = 'Dates are in ' + timezone + ' timezone';
    });

    const dates_start = document.querySelectorAll(".date .start");

    dates_start.forEach((date_start) => {
      parsed_date = new Date(Date.parse(date_start.innerHTML + " 2022 UTC"));
      date_start.innerText = parsed_date.toLocaleDateString(
        'en-us', {
          weekday:"short", year:"numeric", month:"short", day:"numeric", hour: "numeric", minute: "numeric"
        });
    });

    const dates_end = document.querySelectorAll(".date .end");

    dates_end.forEach((date_end) => {
      parsed_date = new Date(Date.parse(date_end.innerHTML + " 2022 UTC"));
      date_end.innerText = parsed_date.toLocaleDateString(
        'en-us', {
          weekday:"short", year:"numeric", month:"short", day:"numeric", hour: "numeric", minute: "numeric"
        });
    });

  </script>
</body>
</html>
