{% extends "base.html" %}
{% block extended_head %}
    <style>
      .hero {
        padding-bottom: inherit;
      }

      .hero.is-link .tab.tab-events.is-active {
        border-color: #fff;
        border-bottom-color: rgb(255, 255, 255);
      }

      .hero.is-link .tabs.is-boxed li.is-active a {
        border-color: #fff;
        border-bottom-color: rgb(255, 255, 255);
        background: #fff;
      }

      .hero.is-link .tabs.is-boxed a:hover {
        background-color: rgba(10,10,10,.1);
        color: #fff;
      }

      .hero.is-link .tabs.is-boxed li.is-active a:hover {
        color: var(--bulma-tabs-link-active-color);
        color: var(--bulma-tabs-link-active-color);
        background: rgb(207, 213, 255);
      }

      .hero.is-link .tabs a:hover {
        opacity: 1;
      }
    </style>
{% endblock %}
{% block alpine_components_head %}
    <script defer src="/static/js/alpine/tabs.js"></script>
    <script defer src="/static/js/alpine/info_toggle.js"></script>
    <script defer src="/static/js/alpine/copy_facet_url.js"></script>
{% endblock %}
{% block hero_foot %}
        <div class="hero-foot">
          <nav class="tabs is-boxed is-fullwidth is-large">
            <div class="container">
              <ul>
                <li class="tab tab-events" :class="{ 'is-active': activeTab === 'Events' }">
                    <a @click="activeTab = 'Events'">Events</a>
                </li>
                <li class="tab tab-streams" :class="{ 'is-active': activeTab === 'Streams' }">
                    <a @click="activeTab = 'Streams'">Streams</a>
                </li>
                <li class="tab tab-about" :class="{ 'is-active': activeTab === 'About' }">
                    <a @click="activeTab = 'About'">About</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
{% endblock %}
{% block content %}
          <div x-show="activeTab === 'Events'" x-cloak>

            <div class="columns">
              <div class="column">
                <article class="message is-info" x-data="infoToggle()">
                  <div class="message-header" id="info_toggle" @click="toggle()">
                    <p>Info</p>
                    <span class="icon">
                      <i class="fas" x-bind:class="open ? 'fa-angle-up' : 'fa-angle-down'" aria-hidden="true"></i>
                    </span>
                  </div>
                  <div class="message-body" id="info" x-show="open">
                    <p>Want your group listed here? Any question?</p>
                    <p><samp>events.resonite.boltwolf.net</samp>? <samp>resonite-communities.com</samp>?</p>
                    <p>More info in <span @click="activeTab = 'About'"><a>About</a></span> section.</p>
                  </div>
                </article>
              </div>

              <div class="column" x-data="copyFacetUrl()">
                <button class="button is-large is-fullwidth is-dark js-copy-facet-url" @click="copyToClipboard('{{ facet_url }}')">
                  <span>Copy facet resonitedb url</span>
                    <span class="icon is-small">
                    <i class="fas fa-solid fa-clipboard"></i>
                  </span>
                </button>
                <div class="box nojs-copy-facet-url">
                  <p class="has-text-danger">You seems to have JavaScript disabled.</p>
                  <p>Link to download the facet:</p>
                  <span>{{ facet_url }}</span>
                </div>
              </div>
            </div>

            {% for event in events %}
            <div class="container event">
              <div class="card my-3">
                <header class="card-header">
                    <div class="card-header-title is-flex is-flex-direction-column is-align-items-flex-start">
                        <p>{{ event.name }}</p>
                        <div class="tags is-flex">{{ event.tags|tags|safe }}</div>
                    </div>
                    <div class="date info is-flex is-flex-direction-row is-justify-content-center is-align-items-center">
                        <i class="fas fa-circle-info" title="Dates are in UTC timezone"></i>
                        <div class="date my-3 mx-4 is-flex">
                          <p class="start">{{ event.start_time|formatdatetime }}</p>
                          <p class="mobile-separator">-</p>
                          <p class="end">{{ event.end_time|formatdatetime }}</p>
                        </div>
                    </div>
                </header>
                <div class="card-content columns" style="background-image: url({{ event.session_image }});">
                  <div class="content column is-three-fifths">
                    <p class="subtitle">
                      {{ event.description|parse|safe }}
                    </p>
                    <div class="more">
                      <p>
                        <i class="fa-solid fa-location-dot"></i> {{ event|detect_location|safe }}
                      </p>
                      <p>
                        <i class="fa-brands fa-discord"></i> {{ event|detect_community|safe }}
                      </p>
                    </div>
                  </div>
                  {% if event.session_image  %}
                  <img class="column" src="{{ event.session_image }}">
                  {% endif %}
                </div>
              </div>
            </div>
            {% else %}
            <article class="message is-warning">
              <div class="message-body content">
                It doesn't seem there are currently any public events planned. <strong>But</strong> remember:

                <ul>
                  <li>This <strong>isn't</strong> an exhaustive list of Resonite events;</li>
                  <li>Private events are not listed here;</li>
                  <li>Events can be announced during the day for the following evening, come back later.</li>
                </ul>
              </div>
            </article>
            {% endfor %}

            <article class="message is-dark" x-data="infoToggle()">
              <div class="message-header" id="info_toggle" @click="toggle()">
                <p>Resonite communities followed</p>
                <span class="icon">
                  <i class="fas" x-bind:class="open ? 'fa-angle-up' : 'fa-angle-down'" aria-hidden="true"></i>
                </span>
              </div>
              <div class="message-body" id="info" x-show="open">
                <article class="message is-info">
                  <div class="message-body content">
                    <p>Want your communities events listed here? Any questions? Check the <span @click="activeTab = 'About'"><a>About</a></span> section.</p>
                  </div>
                </article>
                <div class="columns is-multiline">
                  {% for community in communities %}
                  <div class="column is-one-quarter">
                  <div class="card">
                    <div class="card-image">
                      <figure class="image is-3by3">
                        {% if community.logo %}
                        <img src="{{ community.logo }}" alt="Community logo">
                        {% else %}
                        <img src="https://cdn.alicorn.network/resonite-communities.com/community_discord_placeholder.png" alt="Placeholder community logo">
                        {% endif %}
                      </figure>
                      <div class="monitor-status">
                        {% if community.monitored %}
                        <p class="tag is-success is-light">Events tracked.</p>
                        {% else %}
                        <p class="tag is-warning is-light">Events not tracked.</p>
                        {% endif %}
                      </div>
                    </div>
                    <div class="card-content">
                      <div class="media">
                        <div class="media-content" style="height: 55px; overflow: hidden;">

                          <p class="title is-4">{{ community.name }}</p>

                        </div>
                      </div>

                      {% if community.custom_description != None %}
                        <div class="content" style="height: 150px; overflow: hidden;">
                          {{ community.custom_description | safe }}
                        </div>
                      {% elif community.default_description != None %}
                        <div class="content" style="height: 150px; overflow: hidden;">
                          {{ community.default_description | safe }}
                        </div>
                      {% else %}
                      <div class="content" style="height: 150px; overflow: hidden;">
                      </div>
                      {% endif %}
                      {% if community.url != None %}
                      <footer class="card-footer">
                        <a href="{{ community.url }}" class="card-footer-item button is-info">Visit Discord</a>
                      </footer>
                      {% else %}
                      <footer class="card-footer">
                        <a href="#" class="card-footer-item button is-info" disabled>Visit Discord</a>
                      </footer>
                      {% endif %}
                    </div>
                  </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </article>
          </div>

          <div x-show="activeTab === 'Streams'" x-cloak>

            <article class="message is-info">
              <div class="message-body content">
                Resonite related streams in the 7 following days
            </article>

            {% for stream in streams %}
            <div class="container stream">
              <div class="card my-3">
                <header class="card-header">
                    <figure  class="image is-128x128 is-center">
                      <img src="{{ stream.community.logo }}" alt="Image">
                    </figure >
                    <div class="card-header-title">
                      <p>{{ stream.name }}</p>
                      <br>
                      <p class="subtitle">Streamed by {{ stream.community.name }}</p>
                    </div>
                    <a class="button is-info" href="https://www.twitch.tv/{{ stream.community.name }}">Visit channel</a>
                    <div class="date info is-flex is-flex-direction-row is-justify-content-center is-align-items-center">
                        <i class="fas fa-circle-info" title="Dates are in UTC timezone"></i>
                        <div class="date my-3 mx-4 is-flex">
                          <p class="start">{{ stream.start_time|formatdatetime }}</p>
                          <p class="end">{{ stream.end_time|formatdatetime }}</p>
                        </div>
                    </div>
                </header>
              </div>
            </div>
            {% else %}
            <article class="message is-warning">
              <div class="message-body content">
                It doesn't seem there are currently any streams planned. <strong>But</strong> remember:

                <ul>
                  <li>This <strong>isn't</strong> an exhaustive list of Resonite streams;</li>
                  <li>Streams can be started without any prior schedule.</li>
                </ul>
              </div>
            </article>
            {% endfor %}

            <article class="message is-dark">
              <div class="message-header" id="info_toggle">
                <p>Resonite streamers followed</p>
                <span class="icon">
                  <i class="fas fa-angle-up" aria-hidden="true"></i>
                </span>
              </div>
              <div class="message-body" id="info">
                <article class="message is-info">
                  <div class="message-body content">
                    <p>Want your stream listed here? Any questions? Check the <span @click="activeTab = 'About'"><a>About</a></span> section.</p>
                  </div>
                </article>
                <div class="columns is-multiline">
                  {% for streamer in streamers %}
                  <div class="column is-one-quarter">
                  <div class="card">
                    <div class="card-image">
                      <figure class="image is-3by3">
                        <img src="{{ streamer.logo }}" alt="Placeholder image">
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="media">
                        <div class="media-content">
                          <p class="title is-4">{{ streamer.name }}</p>
                          <p class="subtitle is-6">{{ streamer.members_count }} followers</p>
                        </div>
                      </div>

                      {% if streamer.description != None %}
                      <div class="content" style="height: 250px; overflow: hidden;">
                        {{ streamer.description | urlize }}
                      </div>
                      {% else %}
                       <div class="content" style="height: 150px; overflow: hidden;"></div>
                      {% endif %}
                      <footer class="card-footer">
                        <a href="https://www.twitch.tv/{{ streamer.name }}" class="card-footer-item button is-info">Visit channel</a>
                      </footer>
                    </div>
                  </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </article>
          </div>

          <div x-show="activeTab === 'About'" x-cloak>
            <div class="content">
              <p>This service is provided to you by GrayBoltWolf and <a href="https://brodokk.space">Brodokk</a>. If you have any question about it, you can contact them either on discord or Resonite.</p>

              <br>

              <p>Keep in mind this is a list of gathered events of differents Resonite communities. This means that it is <strong>not</strong> an exhaustive list of Resonite events.</p>

              <br>

              <p>For now the two domains <code>resonite.boltwolf.net</code> and <code>resonite-communities.com</code> are delivering the same service run by the same group of person.</p>
              <h2>Changelog</h2>

              <div class="box">
                <div class="content">
                  <strong>Release 4.0-beta</strong>
                  &nbsp;
                  <small>2024-11-20</small>
                  <br>
                  <p>
                    <ul>
                      <li>Completly rewrite the backend</li>
                      <li>Dropped support for the Apollo bot for now.</li>
                      <li>Prepare the front-end to be updated</li>
                    </ul>
                  </p>
                  <strong>Beta release will not be tagged.</strong>
                </div>
              </div>

              <div class="box">
                <div class="content">
                  <strong>Release 3.3</strong>
                  &nbsp;
                  <small>2024-03-18</small>
                  <br>
                  <p>
                    <ul>
                      <li>Add support for JSON collector</li>
                      <li>Fix css import</li>
                      <li>Fix Twitch schedule API parsing</li>
                    </ul>
                  </p>
                </div>
              </div>

              <div class="box">
                <div class="content">
                  <strong>Release 3.2</strong>
                  &nbsp;
                  <small>2023-11-30</small>
                  <br>
                  <p>
                    <ul>
                      <li>Config var for facet url</li>
                      <li>Fix external events update</li>
                      <li>Fix date on web client (no hardcoded year)</li>
                    </ul>
                  </p>
                </div>
              </div>

              <div class="box">
                <div class="content">
                  <strong>Release 3.1</strong>
                  &nbsp;
                  <small>2023-11-12</small>
                  <br>
                  <p>
                    <ul>
                      <li>Change main domain from <code>resonite-community.events</code> to <code>resonite-communities.com</code></li>
                      <li>Add list of resonite streamers followed</li>
                      <li>Add list of resonite communities followed</li>
                      <li>Fix Resonite related streams not showing up</li>
                      <li>Small UI fixes</li>
                    </ul>
                  </p>
                </div>
              </div>

              <div class="box">
                <div class="content">
                  <strong>Release 3.0</strong>
                  &nbsp;
                  <small>2023-10-04</small>
                  <br>
                  <p>
                    <ul>
                      <li>Migrate to Resonite, dropping NeosVR support</li>
                    </ul>
                  </p>
                </div>
              </div>
              <div class="box">
                <div class="content">
                  <strong>Release 2.8.0</strong>
                  &nbsp;
                  <small>2023-02-02</small>
                  <br>
                  <p>
                    <ul>
                      <li>Add NeosVR streams schedules.</li>
                      <li>Add login via discord for show hidden communities.</li>
                      <li>Fix support for user who disabled the javascript.</li>
                      <li>Fix bugs</li>
                    </ul>
                  </p>
                </div>
              </div>
              <div class="box">
                <div class="content">
                  <strong>Release 2.6.0</strong>
                  &nbsp;
                  <small>2022-12-18</small>
                  <br>
                  <p>
                    <ul>
                      <li>Break APIv2 with changing the type of separator giving back the ability to use the chars <code>\n</code> and <code>`</code> in descriptions and other. <bold>Only work for the website, still ignored for the facet.</bold></bold></li>
                      <li>Small WebUI fixes.</li>
                      <li>Fix bug of duplicated events and small other fixes.</li>
                      <li>Add support for community descriptions in the configuration file.</li>
                    </ul>
                  </p>
                </div>
              </div>
              <div class="box">
                <div class="content">
                  <strong>Release 2.5.0</strong>
                  &nbsp;
                  <small>2022-12-03</small>
                  <br>
                  <p>
                    <ul>
                      <li>Show dates in the local timezone of the web browser.</li>
                    </ul>
                  </p>
                </div>
              </div>
              <div class="box">
                <div class="content">
                  <strong>Release 2.4.0</strong>
                  &nbsp;
                  <small>2022-11-17</small>
                  <br>
                  <p>
                    <ul>
                      <li>Add event image.</li>
                      <li>Add information about the event date localisation.</li>
                      <li>Add website icon.</li>
                      <li>Fix date position on the mobile version.</li>
                    </ul>
                  </p>
                </div>
              </div>
              <div class="box">
                <div class="content">
                  <strong>Update communities</strong>
                  &nbsp;
                  <small>2022-11-16</small>
                  <br>
                  <p>Add <code>The MetaMovie</code> community.</p>
                </div>
              </div>
              <div class="box">
                <div class="content">
                  <strong>Release 2.3.0</strong>
                  &nbsp;
                  <small>2022-11-15</small>
                  <br>
                  <p>Update general website UI. Added new <code>About</code> and <code>News</code> section.</p>
                </div>
              </div>
              <div class="box">
                <div class="content">
                  <strong>Release 2.2.0</strong>
                  &nbsp;
                  <small>2022-11-15</small>
                  <br>
                  <p>Simplify the mobile version by auto collapsing the <code>info</code> message. Adding a button for copy the last version of the facet in the clipboard.</p>
                </div>
              </div>
              <div class="box">
                <div class="content">
                  <strong>Update communities</strong>
                  &nbsp;
                  <small>2022-10-13</small>
                  <br>
                  <p>Added <code>The Grand Oasis</code> and <code>Neos Amatar Radio Association</code> communities.</p>
                </div>
              </div>
              <div class="box">
                <div class="content">
                  <strong>Release 2.1.0</strong>
                  &nbsp;
                  <small>2022-10-28</small>
                  <br>
                  <p>Finishing the Apollo Bot events source.</p>
                </div>
              </div>
              <div class="box">
                <div class="content">
                  <strong>Release 2.0.0</strong>
                  &nbsp;
                  <small>2022-10-24</small>
                  <br>
                  <p>Finalize V2 of the API.</p>
                </div>
              </div>
              <div class="box">
                <div class="content">
                  <strong>Release 1.0.0</strong>
                  &nbsp;
                  <small>2022-10-23</small>
                  <br>
                  <p>Public release of the project.</p>
                </div>
              </div>
            </div>
          </div>
{% endblock %}
<environment_details>
# VSCode Visible Files
resonite_communities/clients/web/static/js/communities.js
resonite_communities/clients/web/static/js/communities.js
resonite_communities/clients/web/templates/admin/communities.html
resonite_communities/clients/web/templates/admin/communities.html
resonite_communities/clients/web/templates/index.html

# VSCode Open Tabs
resonite_communities/signals/collectors/events/discord.py
resonite_communities/clients/api/app.py
resonite_communities/signals/signal.py
resonite_communities/clients/web/static/js/alpine/info_toggle.js
resonite_communities/clients/web/templates/admin/events.html
resonite_communities/clients/web/static/js/alpine/events_alpine.js
resonite_communities/clients/web/static/js/alpine/tabs.js
resonite_communities/clients/web/templates/base.html
resonite_communities/clients/web/templates/index.html
resonite_communities/clients/web/static/js/notification.js
resonite_communities/clients/web/static/js/events.js
resonite_communities/models/types.py
docker-compose.yml
resonite_communities/clients/web/routers/main.py

# Current Time
6/6/2025, 9:11:50 AM (UTC, UTC+0:00)

# Context Window Usage
285,286 / 1,048.576K tokens used (27%)

# Current Mode
ACT MODE
</environment_details>
